/* About.css */
.about-page {
    text-align: center;
    padding: 50px 20px;
  }
  
  .about-page h2 {
    font-size: 2em;
    color: black;
    margin-bottom: 20px;
  }
  
  .about-page p {
    font-size: 1.2em;
    color: black;
  }
  